.achievement-container {
  height: 100vh;

  .img-container {
    width: 450px;
    height: 450px;
    cursor: grab;

    img {
      border-radius: 20px;
    }
  }
}

.achievements {
  padding: 30px 0;

  .title-header {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-secondary-text);
    padding: 12px 0;
  }
}

.infinite-carousel {
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  will-change: transform;
  user-select: none;
}

.achievement-item {
  flex-shrink: 0;
  width: 450px;
}

.description {
  font-size: 16px;
  color: var(--color-secondary-text);
}
