@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.achievement-container {
  height: 100vh;

  .img-container {
    width: 450px;
    height: 450px;
    cursor: grab;
    @include media-breakpoint-down(sm){
      width: 350px;
      height: 350px;
    }
    img {
      border-radius: 20px;
    }
  }
}

.achievements {
  padding: 30px 0;
  @include media-breakpoint-down(md){
    margin: 25px 0 40px 0;
    padding: 30px 0 0 0;
  }
  .title-header {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-secondary-text);
    padding: 12px 0;
  }
}

.carousel-container {
  @include media-breakpoint-down(sm) {
    padding: 12px !important;
  }
}

.infinite-carousel {
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  @include media-breakpoint-down(sm) {
    gap: 12px !important;
  }
  will-change: transform;
  user-select: none;
}

.achievement-item {
  flex-shrink: 0;
  width: 450px;

  @include media-breakpoint-down(sm){
    width: 350px;
  }
}

.description {
  font-size: 16px;
  color: var(--color-secondary-text);
}
