@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Caveat:wght@400;600&display=swap');

:root {
  --project-color-arexed: #643cc0;
  --project-color-mes: #16a34a;
  --project-color-sibol: #4da84b;
  --project-color-paw: #db2777;
  --project-color-sh: #175b88;
  --darkmode: #0d1117;
  --color-surface: #161b22;
  --color-primary-text: #eeeeee;
  --color-secondary-text: #c2c2c2;

  --font-outfit: 'Outfit', sans-serif;
  --font-handwriting: 'Caveat', cursive;
    scroll-behavior: smooth;
}
body {
  background-color: var(--darkmode);
  color: var(--color-primary-text);
  font-family: var(--font-outfit);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color-secondary-text);
  border-radius: 8px;
}
