

.footer-container {
  .social-section {
    background-color: #21D192;
  }

  .custom-hr {
    margin: 0.5rem 0;
    width: 60px;
    height: 2px;
    border: none;
  }

  .footer-bottom {
    font-size: 14px;
  }
}
